---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
---
Language: Cpp
AccessModifierOffset: -4
NamespaceIndentation: None
PointerAlignment: Left
ColumnLimit: 100
FixNamespaceComments: true

SortIncludes: "CaseSensitive"
SortUsingDeclarations: true

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: Consecutive
#AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator
AlignTrailingComments: true

AllowAllArgumentsOnNextLine: true
BinPackArguments: false
BinPackParameters: false

BreakConstructorInitializers: BeforeComma
BreakStringLiterals: true

# requires
IndentRequires: true

#PackConstructorInitializers: Never

BreakBeforeBraces: Allman
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BreakInheritanceList: BeforeComma
IncludeBlocks: Regroup
IncludeIsMainRegex: ''
IncludeCategories:
  # VOG/Common headers
  - Regex: '^(\<|\")VOG/Common.*'
    Priority: 3
    SortPriority: 1
  
  # VOG headers
  - Regex: '^(\<|\")VOG.*'
    Priority: 3
    SortPriority: 2

  # All non STL headers
  - Regex: '<[a-zA-Z0-9_\/]+\.h(pp)?>'
    Priority: 10

  # STL headers like <iostream>
  - Regex: '<[a-z_]+>'
    Priority: 100