---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
---
Language: Cpp
AccessModifierOffset: -4
NamespaceIndentation: None
PointerAlignment: Left
ColumnLimit: 100
FixNamespaceComments: true

SortIncludes: true
SortUsingDeclarations: true

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator
AlignTrailingComments: true

AllowAllArgumentsOnNextLine: true
BinPackArguments: false
BinPackParameters: false

BreakConstructorInitializers: BeforeComma
BreakStringLiterals: true

# requires
IndentRequires: true

#PackConstructorInitializers: Never

BreakBeforeBraces: Allman
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BreakInheritanceList: BeforeComma
IncludeBlocks: Regroup
IncludeIsMainRegex: ''
IncludeCategories:
  # Headers in <> without extension.
  - Regex:           '<([a-z_])>'
    Priority:        100

  # Headers in "" with extension.
  - Regex:           '"([a-zA-Z\/])+(\.h|\.hpp)"'
    Priority:        99
  
  # Headers in <> with extension.
  - Regex:           '<([a-zA-Z\/])+(\.h|\.hpp)>'
    Priority:        2